<h1><%= @musician.name %></h1>
<h4>Section: <a href="../sections/<%= @musician.section.id %>"><%= @musician.section.name %></h4></a>
<h4>Services: <%= @musician.services %></h4>

<br>

<% @musician.programs.each do |program|%>
    <a href="../programs/<%= program.id %>"><h4><%= program.name %></h4></a>
    <li>Services: <%= program.services %></li>
<% end %>
<br>

<form method="get" action="/musicians/<%= @musician.id %>/edit"> 
    <input type="submit" value="edit">
</form>

<br>
<form method="get" action="/musicians/<%= @musician.id %>/delete"> 
    <input type="submit" value="delete">
</form>