<h1>Section List</h1>

<% if admin? %>

<form method="get" action="/sections/new"> 
    <input type="submit" value="New Section">
</form>

<% end %>

<% @sections.each do |section| %>
    <div class="section-index">
        <a href="/sections/<%= section.id %>"><h2><%= section.name %></h2></a>
        <% section.musicians.each do |musician| %>
        <div class="musician">
            <a href="musicians/<%= musician.id %>"><%= musician.name %></a><br>
            Services: <%= musician.services %>
            </div>
        <% end %>
    </div>
<% end %>


